@model IEnumerable<LearnDotNetCore.Models.Employee>

<div class="card-deck">
    @foreach (var employee in Model)
    {
          var photoPath = "~/Images/" + (employee.PhotoPath ?? "IoT_Telecommunication.jpeg");
        <div class="card m-3" style="min-width:18rem; max-width:30.5%;">
            <div class="card-header">
                <h3>@employee.FirstName</h3>
            </div>
            <img class="card-img-top imageThumNail"
                 src="@photoPath"
                 asp-append-version="true"
                 alt="Alternate Text" />
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Employee" asp-route-id=@employee.Id class="btn btn-primary">View</a>
                <a asp-controller="Home" asp-action="Edit" asp-route-id=@employee.Id class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>

        </div>

    }
</div>
