@{
    ViewBag.Title = "Resource not found";
}
<h2>@ViewBag.ErrorMessage</h2>
<a asp-controller="Home" asp-action="Employees" class="btn btn-outline-success" style="width:auto">
    Click here to view the list of all employees
</a>